@use "/public/scss/variables" as *;

.pokeStats {
  &__bar {
    width: 100%;
    background-color: $white-ice;
    height: 0.3rem;
  }

  &__fillBar {
    width: 50%;
    max-width: 100%;
    height: 0.3rem;

    &--red {
      background-color: $pokedex-red;
    }

    &--green {
      background-color: $pokedex-green;
    }
  }
}
