$fontFamily: "Circular Std", "Montserrat", sans-serif;

/*basic colors*/
$light-gray: #f5f5f5;
$dark-gray: #303943;
$white: #fff;
$white-ice: #f4f5f4;

/*categories colors*/
$light-green: #46d7ab;
$dark-green: #4fc1a6;

$light-red: #fc7f63;
$dark-red: #fa6555;

$light-blue: #6dc1fd;
$dark-blue: #64a9fa;

$light-yellow: #ffce4b;
$dark-yellow: #f6c747;

$light-purple: #9f5bba;
$dark-purple: #7c538c;

$light-brown: #ca8179;
$dark-brown: #b1736c;

$deep-purple: #6c79db;

// PokemonType Background Colors

$bug-type1: #1c4b27;
$bug-type2: #3b9950;

$dragon-type1: #61cad9;
$dragon-type2: #61cad9;

$fairy-type1: #971944;
$fairy-type2: #ea1369;

$fighting-type1: #994025;
$fighting-type2: #ef6138;

$flying-type1: #e6e6e6;
$flying-type2: #4a677d;

$ghost-type1: #906790;
$ghost-type2: #33336b;

$ground-type1: #a96f2e;
$ground-type2: #6e491f;

$ice-type1: #d8f0fa;
$ice-type2: #dbf1fd;
$ice-type3: #93d5f4;

$normal-type1: #75515b;
$normal-type2: #ae9397;

$poison-type1: #9b69d9;
$poison-type2: #5c2e87;
$poison-type3: #7c538c;

$rock-type1: #8c3c24;
$rock-type2: #48180b;

$steel-type1: #42bd94;
$steel-type2: #5f766e;

$grass-type1: #147b3d;
$grass-type2: #27cb4f;
$grass-type3: #48d0b0;

$water-type1: #86a8fc;
$water-type2: #1552e1;
$water-type3: #77bdfe;

$fire-type1: #fd4c5a;
$fire-type2: #a92023;
$fire-type3: #fb6c6c;

$electric-type1: #fbcd66;

$psychic-type1: #a42a6c;
$psychic-type2: #f81c91;

$dark-type1: #040706;
$dark-type2: #282735;

$pokedex-green: #48d0b0;
$pokedex-red: #fb6c6c;
$pokedex-yellow: #ffce4b;
$pokedex-blue: #77bdfe;

//margin

$margin-default: 0 2.5rem;

//media
$mobile: 280px;
$mobile-m: 375px;
$mobile-g: 425px;

$desktop: 1024px;
$desktop-m: 1270px;
$desktop-x: 1400px;

$tablet: 650px;
$tablet-m: 700px;
$tablet-x: 750px;
