@use "/public/scss/variables" as *;

.pokeAbout {
  &__box {
    margin-top: 2.8rem;
    width: 100%;
    box-shadow: 0px 8px 23px rgba($dark-gray, 0.12);
    display: flex;
    justify-content: flex-start;
    padding: 1.6rem 2rem;
    border-radius: 1.2rem;
  }

  &__control {
    width: 60%;
  }

  &__label {
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: rgba($dark-gray, 0.4);
  }

  &__size {
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: $dark-gray;
  }
}
