@use "/public/scss/variables" as *;

.homeHeader {
  &__item {
    background-color: $dark-purple;
    border-radius: 1.5rem;
    padding: 0 1.6rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    color: $white;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-decoration: none;

    &:hover {
      transform: translateY(-0.5rem);
    }

    @media screen and (min-width: $desktop) {
      justify-content: center;
      font-size: 1.8rem;
      line-height: 1.8rem;
    }

    &::after {
      content: "";
      position: absolute;
      border-radius: 1.5rem;
      left: 0;
      top: 1rem;
      width: 100%;
      height: 100%;
      z-index: -1;
      filter: blur(1rem);
      opacity: 0.4;
    }

    &--green {
      background-color: $dark-green;

      &::after {
        background-color: $light-green;
      }
    }
    &--red {
      background-color: $dark-red;

      &::after {
        background-color: $light-red;
      }
    }
    &--blue {
      background-color: $dark-blue;

      &::after {
        background-color: $light-blue;
      }
    }
    &--yellow {
      background-color: $dark-yellow;

      &::after {
        background-color: $light-yellow;
      }
    }
    &--purple {
      background-color: $dark-purple;

      &::after {
        background-color: $light-purple;
      }
    }
    &--brown {
      background-color: $dark-brown;

      &::after {
        background-color: $light-brown;
      }
    }
  }

  &__pokeball {
    opacity: 0.4;

    &--right {
      position: absolute;
      right: 0;
      top: 0;
    }

    &--left {
      position: absolute;
      left: 0;
      top: 0;

      @media screen and (min-width: $desktop) {
        transform: rotate(180deg);
      }
    }
  }
}
