.homeHeader {
  &__item {
    background-color: var(--dark-purple);
    border-radius: 1.5rem;
    padding: 0 1.6rem;
    display: flex;
    align-items: center;
    position: relative;

    &--green {
    }
    &--red {
    }
    &--blue {
    }
    &--yellow {
    }
    &--purple {
    }
    &--brown {
    }
  }

  &__link,
  &__link:active,
  &__link:visited {
    color: var(--white);
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  &__pokeball {
    opacity: 0.4;

    &--right {
      position: absolute;
      right: 0;
      top: 0;
    }

    &--left {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
