.pokedex {
  padding: 6rem 2.6rem;
  padding: 6rem 3%;
  background-image: url("/public/assets/pokedex-mainBackground.svg");
  background-position: top right;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
