@use "/public/scss/variables" as *;

.homeHeader {
  margin: 0 auto;
  width: 100%;
  padding: 11.7rem 1.25rem 5.6rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-image: url("../public/assets/top-pokeball.svg");
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
  position: relative;
  background-color: $white;

  &__container {
    max-width: 37.5rem;
    margin: 0 auto;
  }
}
