.homeHeader {
  &__nav {
    width: 100%;
    margin-top: 3.8rem;
  }

  &__list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template: repeat(3, minmax(auto, 6rem)) / repeat(
        2,
        minmax(auto, 15.5rem)
      );
    row-gap: 1.5rem;
    column-gap: 1rem;
    border-radius: 15px;
    justify-content: center;
  }
}
