@use "/public/scss/variables" as *;

.homeHeader {
  &__nav {
    width: 100%;
    margin-top: 3.8rem;
  }

  &__list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template: repeat(3, minmax(auto, 6rem)) / repeat(
        2,
        minmax(auto, 25.5rem)
      );
    row-gap: 1.5rem;
    column-gap: 1rem;
    border-radius: 15px;
    justify-content: center;

    @media screen and (min-width: $tablet) {
      grid-template-columns: repeat(2, minmax(auto, 32.5rem));
    }

    @media screen and (min-width: $desktop) {
      grid-template: repeat(2, minmax(auto, 6rem)) / repeat(
          3,
          minmax(auto, 44.5rem)
        );
    }
  }
}
