.pokedex {
  &__header {
    width: 100%;
    margin-bottom: 4.2rem;
  }

  &__headerTopWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3.1rem;
  }
}
