@use "/public/scss/variables" as *;

.pokeDetail {
  &__nav {
    width: 100%;
    margin-bottom: 1.9rem;

    @media screen and (min-width: $desktop) {
      max-width: 75rem;
      margin: 0 auto 4rem;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $white-ice;
  }
}
