@use "/public/scss/variables" as *;

.pokeDetail {
  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__number {
    font-size: 1.8rem;
    color: $white;
  }

  &__type {
    display: flex;
    justify-content: space-between;
    margin-top: 0.9rem;
  }

  &__badges {
    display: flex;
    justify-content: space-between;
  }

  &__species {
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: $white;
    font-weight: normal;
  }
}
