@use "/public/scss/variables" as *;

.pokeDetail {
  &__basicInfo {
    @media screen and (min-width: $desktop) {
      order: 2;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $desktop) {
      margin-top: 2rem;
    }
  }

  &__number {
    font-size: 1.8rem;
    color: $white;
    font-weight: bold;
  }

  &__type {
    display: flex;
    justify-content: space-between;
    margin-top: 0.9rem;

    @media screen and (min-width: $desktop) {
      margin-top: 2rem;
    }
  }

  &__badges {
    display: flex;
    justify-content: space-between;
  }

  &__species {
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: $white;
    font-weight: normal;
  }
  &__pokemon {
    background-image: url("/public/assets/back-pokeball.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    justify-content: center;
    @media screen and (min-width: $desktop) {
      order: 1;
      width: 40%;
      display: flex;
      justify-content: flex-start;
      background-position: left center;
    }
  }

  &__image {
    width: 65%;
  }
}
