@use "/public/scss/variables" as *;

.pokeNews {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  background-color: $light-gray;
  padding: 4.1rem 2.8rem 4.8rem;
  z-index: -1;
  margin-top: -1.5rem;

  height: 100%;

  @media screen and (min-width: $desktop) {
    
  }
  
  
  &__container {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;

    @media screen and (min-width: $desktop) {
      max-width: 100rem;
    }
  }


  
}
