@use "/public/scss/variables" as *;

.homeHeader {
  &__search {
    width: 100%;
    height: 4.5rem;
    background-color: $light-gray;
    border-radius: 10rem;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 1.8rem;
    margin-top: 4.2rem;
  }

  &__button {
    border: none;
    background-color: transparent;
    transition: all 0.3s;
  }

  &__button:hover &__image {
    transform: scale(1.02);
  }

  &__input {
    border: none;
    background-color: $light-gray;
    flex: 1;
    font-family: inherit;
    font-size: 1.4rem;
    line-height: 4.2rem;
    padding-left: 1.3rem;
    color: $dark-gray;

    &::placeholder {
      opacity: 0.4;
    }
  }
}
