@use "/public/scss/variables" as *;

.navArrow {
  background: none;
  color: #6c79db;
  border: none;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 49%;

  &:hover {
    transition: 0.15s;
    background-color: #a3a3a368;
  }
}

@media screen and (min-width: $desktop) {
  .navArrow {
    padding: 1%;
    &__image {
      width: 3rem;
      height: 3rem;
    }
  }
}
