@use "/public/scss/variables" as *;

.pokedex {
  &__item {
    list-style-type: none;

    position: relative;
    width: 100%;
    height: 11rem;
    border-radius: 1.5rem;

    padding: 4% 7.5%;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.2s ease-in-out;
    }

    &--listActivated {
      width: 100%;
    }
  }

  &__pokeId {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4rem;

    color: #000;
    mix-blend-mode: soft-light;

    text-align: right;
  }
  &__pokeName {
    text-shadow: 0.5px 0.5px 2px black;
    font-weight: 450;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: 3.5%;
  }
  &__pokeImage {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;
    max-height: 100%;
    z-index: 1;
  }

  &__background {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__pokeTypeContainer {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    gap: 0.6rem;
  }

  @media screen and (min-width: $mobile-g) {
    .pokedex {
      &__pokeImage {
        max-height: 80%;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    .pokedex {
      &__item {
        height: 30rem;
      }
      &__pokeName {
        font-size: 1.8rem;
      }
      &__pokeId {
        font-size: 2.4rem;
      }
    }
  }
  @media screen and (min-width: $desktop-m) {
    .pokedex {
      &__pokeName {
        font-size: 1.8rem;
      }
    }
  }
  @media screen and (min-width: $desktop-x) {
    .pokedex {
      &__item {
        max-width: 67rem;
      }
      &__pokeName {
        font-size: 1.8rem;
      }
    }
  }
}
