@use "/public/scss/variables" as *;

.pokedex {

  &__item {
    list-style-type: none;

    position: relative;
    width: 15.5rem;
    height: 11rem;
    border-radius: 1.5rem;

    padding: 1rem 1.6rem;
  }

  &__pokeId {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4rem;

    color: #000;
    mix-blend-mode: soft-light;

    text-align: right;
  }
  &__pokeName {
    font-weight: 700;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: 0.1rem;
  }
  &__pokeImage {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__background{
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__pokeTypeContainer {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
}
