.pokeNewsItem {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__leftContainer {
    width: 66%;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #303943;
    font-weight: 700;
    margin-bottom: 0.6rem;
  }
  &__date {
    opacity: 0.6;
    font-weight: 450;
  }
  &__rightContainer {
    width: 34%;
    height: 100%;
  }
  &__image {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    object-position: center;
    object-fit: cover;
  }

  &__rightContainer {
  }
}
