@use "/public/scss/variables" as *;

.pokeType {
  width: fit-content;
  height: fit-content;
  padding: 0.4rem 1.3rem;

  background: rgba(255, 255, 255, 0.25);
  border-radius: 3.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    text-shadow: 0.25px 0.25px 1px black;

    font-size: 0.8rem;
    color: #fff;
  }

  &--big {
    padding: 0.6rem 1.8rem;
    margin-right: 0.7rem;
  }

  &--big &__text {
    font-size: 1.2rem;
  }

  @media screen and (min-width: $tablet) {
    .pokeType {
      width: 7rem;
      height: 2.8rem;
      &__text {
        font-size: 1.4rem;
      }
    }
  }
}
