@use "/public/scss/variables" as *;

.mainTitle {
  width: 100%;
  overflow-wrap: break-word;
  font-size: 3rem;
  line-height: 3.8rem;
  color: #303943;

  &__about {
    font-size: 3.6rem;
    line-height: 4.6rem;
    color: #fff;

    &--mini {
      font-size: 2.2rem;
      line-height: 2.8rem;
    }
  }

  @media screen and (min-width: $tablet) {
    text-align: center;
    font-size: 4rem;
  }

  @media screen and (min-width: $desktop) {
    text-align: center;
    font-size: 6rem;
  }
}
